@model TapHoa.Data.Baiviet
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h3>Create Blog</h3>

<div class="row">
    <div class="col-md-8">
        <form method="post" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Tenbv" class="control-label">Blog Name</label>
                <textarea asp-for="Tenbv" class="form-control" rows="10"></textarea>
                <span asp-validation-for="Tenbv" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Noidung" class="control-label">Content (Markdown)</label>
                <textarea asp-for="Noidung" class="form-control" rows="10"></textarea>
                <span asp-validation-for="Noidung" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Ngaydang" class="control-label">Post Date</label>
                <input asp-for="Ngaydang" class="form-control" />
                <span asp-validation-for="Ngaydang" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Hinhanh" class="control-label">Image URL</label>
                <input asp-for="Hinhanh" class="form-control" />
                <span asp-validation-for="Hinhanh" class="text-danger"></span>
            </div>

            <div class="form-group mt-3">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="mt-3">
    <a asp-action="BlogList" class="btn btn-secondary">Go Back to Blog List</a>
</div>

<style>
    .form-control {
        margin-bottom: 15px;
    }

    textarea.form-control {
        width: 100%;
    }
    .vertical-text {
        display: flex;
        align-items: center;
        justify-content: center;
        writing-mode: vertical-rl;
        text-align: center;
        height: 200px;
    }
</style>
