@model TapHoa.Data.Thuonghieu
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "EditBrand";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h3>Edit brand</h3>
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="EditBrand">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Mathuonghieu" />
            <div class="form-group">
                <label asp-for="Tenthuonghieu" class="control-label">Brand name</label>
                <input asp-for="Tenthuonghieu" class="form-control" />
                <span asp-validation-for="Tenthuonghieu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="BrandList">Go back</a>
</div>

