@model IEnumerable<TapHoa.Data.Loaisp>

<div class="row">
    <div class="dropdown mt-3">
        <button class="btn btn-success dropdown-toggle " type="button" id="categoryDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            Select a Category
        </button>
        <ul class="dropdown-menu" aria-labelledby="categoryDropdown">
            @foreach (var item in Model)
            {
                <li>
                    <a class="dropdown-item"
                       asp-controller="Product"
                       asp-action="ProductByCategory"
                       asp-route-id="@item.Maloaisp">
                        @item.Tenloaisp
                    </a>
                </li>
            }
        </ul>
    </div>
</div>
