@model TapHoa.Data.Nhacungcap
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h3>Edit supplier</h3>
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Mancc" />
            <div class="form-group">
                <label asp-for="Tenncc" class="control-label">Supplier name</label>
                <input asp-for="Tenncc" class="form-control" />
                <span asp-validation-for="Tenncc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="SupplierList">Go back</a>
</div>

