@model List<TapHoa.Models.LikeItem>

@{
    ViewData["Title"] = "Like list";
}

<h3>Like list</h3>

@if (!Model.Any())
{
    <p>Your wishlist is empty.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Image</th>
                <th>Product name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr id="like-item-@item.Masanpham">
                    <td>
                        <img src="@item.Hinhanh" alt="@item.Tensanpham" style="width: 100px;" />
                    </td>
                    <td>@item.Tensanpham</td>
                    <td class="shoping__cart__item__close">
                        <a asp-action="RemoveFromLike" asp-controller="Like" asp-route-id="@item.Masanpham" title="Remove from Like">
                            <span class="icon_close"></span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
