@model TapHoa.Data.Sanpham

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Edit</h1>

<h4>Sanpham</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Masp" />
            <div class="form-group">
                <label asp-for="Maloaisp" class="control-label"></label>
                <select asp-for="Maloaisp" class="form-control" asp-items="ViewBag.Maloaisp"></select>
                <span asp-validation-for="Maloaisp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Makm" class="control-label"></label>
                <select asp-for="Makm" class="form-control" asp-items="ViewBag.Makm"></select>
                <span asp-validation-for="Makm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mancc" class="control-label"></label>
                <select asp-for="Mancc" class="form-control" asp-items="ViewBag.Mancc"></select>
                <span asp-validation-for="Mancc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Math" class="control-label"></label>
                <select asp-for="Math" class="form-control" asp-items="ViewBag.Math"></select>
                <span asp-validation-for="Math" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tensp" class="control-label"></label>
                <input asp-for="Tensp" class="form-control" />
                <span asp-validation-for="Tensp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mota" class="control-label"></label>
                <input asp-for="Mota" class="form-control" />
                <span asp-validation-for="Mota" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Soluong" class="control-label"></label>
                <input asp-for="Soluong" class="form-control" />
                <span asp-validation-for="Soluong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gia" class="control-label"></label>
                <input asp-for="Gia" class="form-control" />
                <span asp-validation-for="Gia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hinhanh" class="control-label"></label>
                <input asp-for="Hinhanh" class="form-control" />
                <span asp-validation-for="Hinhanh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hinhanh1" class="control-label"></label>
                <input asp-for="Hinhanh1" class="form-control" />
                <span asp-validation-for="Hinhanh1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hinhanh2" class="control-label"></label>
                <input asp-for="Hinhanh2" class="form-control" />
                <span asp-validation-for="Hinhanh2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hinhanh3" class="control-label"></label>
                <input asp-for="Hinhanh3" class="form-control" />
                <span asp-validation-for="Hinhanh3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

