<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ogani | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/LayoutUser/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/LayoutUser/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/LayoutUser/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/LayoutUser/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/LayoutUser/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/LayoutUser/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/LayoutUser/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/LayoutUser/css/style.css" type="text/css">
</head>
<body>
    <div>
        @await Html.PartialAsync("_UserHeader")
        <div style="min-height:100px; margin-bottom: 50px;">
            @RenderBody()
            @RenderSection("breadcum", required: false)

        </div>

        <!-- Footer Section Begin -->
        @await Html.PartialAsync("_UserFooter")
        <!-- Footer Section End -->
    </div>


    <!-- Js Plugins -->
    <script src="~/LayoutUser/js/jquery-3.3.1.min.js"></script>
    <script src="~/LayoutUser/js/bootstrap.min.js"></script>
    <script src="~/LayoutUser/js/jquery.nice-select.min.js"></script>
    <script src="~/LayoutUser/js/jquery-ui.min.js"></script>
    <script src="~/LayoutUser/js/jquery.slicknav.js"></script>
    <script src="~/LayoutUser/js/mixitup.min.js"></script>
    <script src="~/LayoutUser/js/owl.carousel.min.js"></script>
    <script src="~/LayoutUser/js/main.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
