<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Humberger Begin -->
<div class="humberger__menu__overlay"></div>
<div class="humberger__menu__wrapper">
    <div class="humberger__menu__logo">
        <a href="#"><img src="img/logo.png" alt=""></a>
    </div>
    <div class="humberger__menu__cart">
        <ul>
            <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
            <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
        </ul>
    </div>
    <div class="humberger__menu__widget">
        <div class="header__top__right__auth">
            <a href="#"><i class="fa fa-user"></i> Login</a>
        </div>
    </div>
    <nav class="humberger__menu__nav mobile-menu">
        <ul>
            <li class="active"><a href="./index.html">Home</a></li>
            <li><a href="./shop-grid.html">Shop</a></li>
            <li>
                <a href="#">Pages</a>
                <ul class="header__menu__dropdown">
                    <li><a href="./shop-details.html">Shop Details</a></li>
                    <li><a href="./shoping-cart.html">Shoping Cart</a></li>
                    <li><a href="./checkout.html">Check Out</a></li>
                    <li><a href="./blog-details.html">Blog Details</a></li>
                </ul>
            </li>
            <li>
                <a class="nav-link" asp-controller="Blog" asp-action="BlogList">
                    <span class="menu-title">Blog</span>
                </a>
            </li>
            <li><a href="./contact.html">Contact</a></li>
        </ul>
    </nav>
    <div id="mobile-menu-wrap"></div>
    <div class="header__top__right__social">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-pinterest-p"></i></a>
    </div>
    <div class="humberger__menu__contact">
        <ul>
            <li><i class="fa fa-envelope"></i> haydaycompany@gmail.com</li>
            <li>Fresh goods - Fast delivery</li>
        </ul>
    </div>
</div>
<!-- Humberger End -->
<!-- Header Section Begin -->
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__left">
                        <ul>
                            <li><i class="fa fa-envelope"></i> haydaycompany@gmail.com</li>
                            <li>Fresh goods - Fast delivery</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__right">
                        <div class="header__top__right__auth">
                            @if (User.Identity.IsAuthenticated && User.IsInRole("Nhanvien"))
                            {
                                <a href="/Admin" class="flex-c-m trans-04 p-lr-25" style="font-family: Arial; margin-right: 15px; background-color: #007bff; color: white; padding: 10px 20px; border-radius: 5px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); text-decoration: none;">
                                    Admin Page
                                </a>
                            }
                        </div>
                        <div class="header__top__right__auth">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <a href="/address/addressList"><i class="fa fa-user"></i> Address</a>
                            }
                        </div>
                        <div class="header__top__right__auth">
                            @if (!User.Identity.IsAuthenticated)
                            {
                                <a href="/Accounts/Login"><i class="fa fa-user"></i> Login</a>
                            }
                        </div>
                        <div class="header__top__right__auth">
                            @if (User.Identity.IsAuthenticated && !Context.Request.Path.Value.Contains("/Accounts/Login"))
                            {
                                <a href="/Accounts/Logout"><i class="fa fa-user"></i> Logout</a>
                            }
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="header__logo">
                    <a href="./index.html"><img src="~/LayoutUser/img/logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6">
                <nav class="header__menu">
                    <ul>
                        <li class="active"><a href="./index.html">Home</a></li>
                        <li><a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="ViewProduct">Shop</a></li>
                        <li>
                            <a href="#">Pages</a>
                            <ul class="header__menu__dropdown">
                                <li><a href="./shop-details.html">Shop Details</a></li>
                                <li><a href="./shoping-cart.html">Shoping Cart</a></li>
                                <li><a href="./checkout.html">Check Out</a></li>
                                <li><a href="./blog-details.html">Blog Details</a></li>
                            </ul>
                        </li>
                        <li><a class="nav-link text-dark" asp-area="" asp-controller="Blog" asp-action="BlogList">Blog</a></li>
                        <li><a class="nav-link text-dark" asp-area="" asp-controller="DailyRecipe" asp-action="ViewDailyRecipe">Daily Recipe</a></li>
                        <li><a href="./contact.html">Contact</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="header__cart">
                    <ul>
                        <li><a asp-area="" asp-controller="Like" asp-action="Index"><i class="fa fa-heart"></i> </a></li>
                        <li><a asp-area="" asp-controller="Cart" asp-action="Index"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="humberger__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>
<!-- Header Section End -->
