@model decimal

@{
    ViewData["Title"] = "Total Revenue";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>@ViewData["Title"]</h1>

<p>Tổng doanh thu: <strong>@Model.ToString("C")</strong></p>
